body{
  font-family: 'Montserrat', arial;
}
h1,h3{
  font-size: 1.3em;
  color:#0367b7;
  padding: 1% 0;
}
h3{
  font-size:1.2em;
}
ul {
  margin: 0;
  padding: 0;
}
.border-separate {
  clear: both;
  margin: 10px 0;
  height: 1px;
  width: 100%;
  background-color: #cccccc;
}
.clear {
  clear: both;
  width: 0;
  height: 0;
  border: 0;
}
img {
  border: 0;
}
.error-message{
  display:block;
  color:#ff0000;
}

/**
*  Header
*/
.header {
  height: 75px;
  background: #0367b7;
}
.header__logo {
  margin-top: 1%;
}
.header__registration {
  color: #ffffff;
  font-size: 0.8em;
  text-align: right;
  line-height: 1;
  padding: 8px;
  margin: 0;
}
.header__registration a {
  color: #ffffff;
  padding:0 10px;
}
.header__registration a + a {
  border-left: 1px solid #cccccc;
}
.header-registration__login {
  color: #f2c609 !important;
}
.header-registration__enter {
  margin-right:10px;
}
.header-registration__exit {
  background-color: transparent;
  border: 0;
  color: #f2c609;
  border-left: 1px solid #cccccc;
  padding-left: 10px;
}

/**
* Main menu navigation
*/
.header nav.navbar {
  margin: 5px 0 0 0;
  padding: 0;
  float: right;
}
.header nav.navbar ul.navbar-nav li.menu-item a {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  padding: 7px 14px;
}
.header nav.navbar ul.navbar-nav li.menu-item a.active, .header nav.navbar ul.navbar-nav li.menu-item.current-menu-item a {
  background-color: #f6c806;
  color: #004f8f;
}
.header nav.navbar ul.navbar-nav li.menu-item a:hover {
  text-decoration: none;
  background-color: #035ca4;
}
.banner-main {
  margin-top: 10px;
}

/**
*  Advantages container
*/
.advant {
  margin: 7px 0;
  border-bottom: 1px solid #b3d1e9;
}
.advant div {
  margin: 7px 0;
}
.advant div + div {
  border-left: 1px solid #b3d1e9;
}
.advant span {
  width: 60%;
  display: inline-block;
  text-align: left;
  color: #0367b7;
  font-weight: bold;
  font-size: 0.7em;
  vertical-align: top;
  margin-top: 10px;
  text-transform: uppercase;
}
.advant img {
  height: 63%;
  margin:2% 24px 0 0;
}

/**
*   Event pagination
*/
.events__pagination {
  list-style-type: none;
}
.events-pagination__item {
  float: left;
  margin: 10px 0;
}
.events-pagination-item__link {
  cursor: pointer;
  color: #8c8c8c;
  margin-right: 10px;
  font-size: 0.8em;
}
.events-pagination__item.active .events-pagination-item__link {
  background: #0367b7;
  color: #ffffff;
  padding: 3px 8px;
  border-radius: 15px;
}

/**
*   Event last posts
*/
.last-post-list {
  margin: 15px 0;
}
.last-post-list h4 {
  font-size:1em;
  color: #0367b7;
}
.last-post-list li {
  list-style-type:none;
  margin: 0 0 20px 0;
}
.last-post-list li a {
  color: #565656;
  font-size: 0.7em;
}
.last-post-list li a:hover{
  text-decoration:none;
}
.last-post-list .last-post-title{
  color:#0367b7;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 4px 0;
}
.last-post-list .last-post-price{
  background-color: #0367b7;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
}
.last-post-list .last-post-location {
  background: url(http://board.it-mir.net.ua/wp-content/uploads/2018/05/locator.png) no-repeat left center;
  padding: 0 0 0 15%;
  margin: 0 0 5px 0;
}
.last-post-list .last-post-date {
  background: url(http://board.it-mir.net.ua/wp-content/uploads/2018/05/date.png) no-repeat left center;
  padding: 0 0 0 15%;
}
.last-post-list .last-post-tags{
  margin: 4px 0 0 0;
}
.last-post-list .last-post-tags .tagOpt{
  font-size: 0.7em;
  border: 1px solid #8f8f8f;
  padding: 2px 8px;
  border-radius: 5px;
  margin: 0 5px 0 0;
}

/**
* Detail page
*/
div.right-side div.socialButton{
  float:left;
  margin:10px 0 10px 10px
}
ul.react-tabs__tab-list{
  list-style-type:none;
  padding: 0;
  margin: 25px 0 0 0;
  border-top:1px solid #dbdbdb;
}
ul.react-tabs__tab-list li{
  cursor:pointer;
  float:left;
  font-weight:bold;
  margin: 15px 10px 15px 0;
  padding:5px 25px;
  border-radius:10px;
}
ul.react-tabs__tab-list li.react-tabs__tab--selected{
  color:#ffffff;
  background-color:#0367b7;
}
div.react-tabs__tab-panel{
  clear:both;
}
div.react-tabs__tab-panel div.event_text img{
  max-width:100%;
}
div.react-tabs__tab-panel div.event_text p.rcl-custom-fields {
  display:none;
}
div.loader{
  background: url('http://board.it-mir.net.ua/wp-content/uploads/2018/06/Loading_icon.gif') no-repeat center center;
  height:100%;
  width:100%;
  position:absolute;
  z-index:999;
}
div.calendar-link{
  text-align:center;
  margin: 30px 0 20px 0;
}
div.calendar-link p{
  font-weight:bold;
  font-size:0.7em;
  color: #0367b7;
  padding: 0;
  margin: 0 0 10px 0;
}
div.feedback-detail-right{
  text-align:center;
  margin: 25px 0 45px 0;
}
div.feedback-detail-right a.write-organisator{
  display: inline-block;
  margin-top: 15px;
   background-color: #0367b7;
   color: #ffffff;
   font-weight: bold;
   font-size: 0.8em;
   padding: 5px 20px;
   border-radius: 5px;
 }
div.feedback-detail-right a.feedback-registration{
  display: inline-block;
  margin-top: 15px;
  background-color: #f5f5f5;
  color: #0367b7;
  font-weight: bold;
  font-size: 0.8em;
  padding: 5px 30px;
  border:1px solid #dbdbdb;
  border-radius: 5px;
}
div.right-side div.detail-interesting{
  margin-top:25px;
}
div.right-side div.detail-interesting h4{
  color: #0367b7;
  font-size: 1.1em;
  text-align: center;
}
div.right-side li.same-post-rightside{
  list-style-type:none;
  margin-bottom: 25px;
}
div.right-side li.same-post-rightside img{
  width:100%;
}
div.right-side li.same-post-rightside div.samePost-info-rightside{
  background-color: rgba(18,100,165,0.9);
  border-bottom: 1px solid #f5f5f5;
  color: #ffffff;
  font-size: 0.7em;
  margin: 0;
}

div.socialShare{
  text-align:center;
}
div.samePost-title{
  font-weight: bold;
  margin: 10px 0;
}
div.samePost-price{
  margin: 10px 0;
}
div.samePost-location{
}
div.samePost-date{
}
img.detail-picture{
  height: 235px;
  width: 100%;
}

img.googleCal{
  width:40%;
}
.additional-area {
  height: 490px;
  background-image: url(http://board.it-mir.net.ua/img/ftrbanner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
  padding-top: 30px;
  font-size: 0.9em;
  line-height: 1.4em;
}
/**
*  Registration page
*/
.registration{

}
.registration__form div+div{
  margin-top:10px;
}

.registration__form input.non-valid{
    border:1px solid #ff0000;
}


/**
* Profile
*/
.profile__add-button {
  color:#ffffff;
  font-size: 0.8em;
  font-weight:bold;
  border-radius:10px;
  padding:5px 25px;
  margin-top:5%;
  cursor:pointer;
  background-color: #0367b7;
  border: 0;
  display:inline-block;
}
.profile__photo{
  width:200px;
  height:200px;
}
/**
*  Footer area
*/
.footer {
  width: 100%;
  height: 100px;
  color: #ffffff;
  padding: 25px 0 0 0;
  background: #0367b7;
  position: relative;
}
.footer div.footer-menu ul li+li {
  float: left;
  margin: 0 0 0 15px;
}
.footer div.footer-menu ul li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8em !important;
}
.footer div.copyright {
  margin: 15px 0 0 0;
  font-size: 0.7em;
}

/**
*  Profile Items
*/
.own-events__item {
  list-style-type: none;
  padding: 10px;
  font-size: 0.9em;
}
.own-events-item__title{
  font-weight:bold;
}
.own-events__item:nth-child(2n+1) {
  background-color: #f5f5f5;
}
.own-events-item__button {
  color: #004f8f;
  background-color: transparent;
  border: 0;
  border-left: 1px solid #dbdbdb;
  cursor: pointer;
}
.editorClassName {
  border: 1px solid #F1F1F1;
}


@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 767.98px) {
  .advant {
    display: none;
  }
}

@media (max-width: 576px) {
  .header {
    height: 55px;
  }
  .header nav.navbar {
    margin-top: 0;
    float: none;
  }
  #navbarSupportedContent {
    z-index: 999;
    background-color: #0367b7;
    padding: 10px 0 0 0;
  }
  .header nav.navbar ul.navbar-nav li {
    padding: 5px 0;
  }
  .header nav.navbar ul.navbar-nav li.menu-item.current-menu-item a {
    background-color: transparent;
    color: #f6c806;
  }
}

.rdw-editor-main{
    min-height:400px;
}